html, body {
  display: flex;
  flex-direction: row;
  justify-content: center;
	height: 100%;
  background-color: black;
  text-align: center;
  margin: 0;
}

* {
	font-family: Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}

#app {
	position: relative;
	height: 100%;
	width: 100%;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.input {
  text-align: center;
  font-size: 1.5rem;
  height: 3rem;
  background-color: rgb(135, 132, 87);
  border: 1px solid white;
}


.container {
  margin: 1rem auto;
  width: fit-content;
  
}

ul {
  display:flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

li {
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: baseline;
  background-color: Cornsilk;
  border: 3px solid rgb(39, 39, 39);
  width: 90%;
}

.btn {
  display: flex;

  display: block;
  padding: .5rem;
  margin: 1rem auto;
  width: inherit;
}

.delete-btn {
  background-color: transparent;
  border: 0;
  padding: 10px;
  font-weight: bolder;
  cursor: pointer;
  border-radius: 5px;
}

.delete-btn:hover,
.delete-btn:focus {
  box-shadow: 5px black;
}

li h1, li h2, li h3 {
  margin: 0;
  padding: 1rem;
}